        /* almost all of these are temp styles to make sure componets are working*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


body{
    background: url('../assets/skybg.jpg') no-repeat center center fixed;
    background-size: cover;
}
/* tablet/ web sizing*/
@media only screen and (min-width: 600px) {
    .hourly, .day-forecast{
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.9px);
        -webkit-backdrop-filter: blur(8.9px);
    }
    
    .searchBar {
        border-radius: 2rem;
        width: 3vw;
        height: 3vh;
        float: right;
        white-space: nowrap;
        max-width: 30vw;
        flex-direction: row;
        margin-right: 20px;
    }
    
    .cityBar input {
        border-radius: 2rem;
        max-width: 30vw;
        width: calc(200px + 20vw); 
        height: 3vh;
        width: 3vw;
     }
    .todayIcon{
        max-width: 15vw;
        height: auto;
    }
    .searchBar ul{
        max-height:30vh;
        max-width: 20vw;
    
    }

    .searchIcon img{
        width: auto;
        float: center;
        height: 4vh;
        object-fit: contain;
    }
    .currWeather{
        font-size: larger;
        position: fixed;
        top: 0;
        width: 19vw;
        height:  100vh;
        margin: auto;
        float:left;
        padding: 1%;
    }
    .conds{
        margin: auto;
        text-align: center;
    }
    
    .hourly{
        display: flex;
        justify-content: space-between; /* Add space between items */
        overflow-x: auto; /* Add horizontal scroll for small screens */
        padding:1%;
        min-height: 15vh; height: auto;
        max-height: 16vh;
        border-radius: .5rem;
        white-space: nowrap;
        min-width: 60vw;
        width: auto;
        max-width: 90vw;
        overflow-x: auto; /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Add smooth scrolling for iOS */

        
        li{
            min-width: 5vw;
            width: auto;
            max-width: 100px;
            height: auto;
            min-height: 10vh;
            padding: .05%;
            flex-shrink: 0;
            margin-right: 10px;
            
            /* background: rgba(255, 255, 255, 0.33); */
    
        
        }
    
    }
    .hourly img{
        width:auto;
        height: calc(40px + 5vh);
        margin: auto;
        padding: none;
        max-width: 70%; /* Make images responsive */
        height: auto; /* Maintain aspect ratio */
    }
    .hourly h3{
        opacity: 80%;
        margin-top: 0px;
    }
    .hourly p{
        margin-top: 0px;
    }
    .hourPeak {

        margin-right: 3% ;
       /* Increase the padding */
        /* border-radius: 0.5rem; */
        /* background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: larger;  */
        
        margin-top: 0px;
        align-items: center; /* Center the items vertically */
       h3,p{
        
            font-size: medium;
            max-height: 1vh;
       }
    
    
    }
    
        
    /*
        search bar
    */
    
    
    .autosuggest-container {
        top: 20px; /* Adjust top position as needed */
        right: 20px; /* Adjust right position as needed */
        height: 3vh;
        
        
    }
    .searchIcon {
        margin-left: 10px;
    }
    
    .autosuggest-container .react-autosuggest__suggestions-container {
        position: absolute;
        top: calc(100% + 5px);
        right: 0;
        width: 300px; /* Adjust width as needed */
        
        
        
    }
    
    .autosuggest-container .react-autosuggest__suggestions-list {
        max-height: 300px; /* Adjust max height as needed */
        
    }
    
    .autosuggest-container .react-autosuggest__suggestion {
        padding: 10px;
        
    }
    
 
    .forecastCont{
        max-width: 80vw;
        min-height: 70vh;
        max-height: 90vh;
        height: fit-content;
        position: absolute;
        top:1vh;
        left:25%;
    }
    .forecast{
        
        max-height: 80vh;
        
    }
    
    /* next few days */
    .day-forecast-container {
        position:fixed;
        top: 20vh;
        width: 100%;
        max-height: 60vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px; 
    
    
    }
    .day-forecast {
        padding:3% 5%;
        /* background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
       
        width: calc(15vw + 30px);
        height: 30vh;
        
        margin:auto;
    }
    
    .day-forecast img {
        width: 65%;
        height: auto;
        max-height: 22vh;
        margin-top: -5px;
    }
    
    .day-forecast h3 {
        margin-top: -1px;
        margin-bottom: 1px !important;
    }
    
    .day-forecast p {
        margin-top: 0px;
    }
}
/* mobile sizing*/
@media only screen and (max-width: 600px) {
    .hourly,.day-forecast-container{
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10.3px);
    backdrop-filter: blur(10.3px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    }
    .searchBar{
        border-radius: 2rem;
        float:right; 
        white-space: nowrap;
        max-width: 30vw;
        flex-direction: row;
        position: relative;
        width: 4vw;
        height: 5vh;
        
    }
    .cityBar input {
        border-radius: 2rem;
        max-width: 30vw;
        width: calc(200px + 20vw); 
        height: 3vh; 
        
    }
    .todayIcon{
        max-width: 15vw;
        height: auto;
    }
    .searchBar ul{
        max-height:30vh;
        max-width: 20vw;
    }

    .searchIcon img{
        width: 5vw;
        height: auto;
        object-fit: contain;
    }
    .currWeather{
        flex-direction: row;
        font-size: small !important;
        position: fixed;
        margin-top: 5vh !important;
        width: 90vw;
        height:  20vh;
        margin: auto;
        padding: 5%;
        border-radius: 1rem;
        left:2.5vw;
        right:2.5vw;
        h1,h2{
            margin-top: 1vh !important;
        }
        
     
    }
    .currWeather .todayIcon{
        min-width: 22vw;
        max-width: 23vw;
        height: auto;
        margin: auto;
        padding:1%;
        margin-top: -5vw !important;
    }

    .conds{
        position: fixed;
        flex-direction: column;
        margin: auto;
        text-align: center;
        font-size: small ;
        top: 1vh !important;
        left:40vw;
        text-align: left !important;
    }
  
    .hourly{
        position: absolute;
        top:22vh; /* height of currWeather + 2vh */
        padding:1%;
        min-height: 5vh; 
        height: auto;
        max-height: 12vh;
        border-radius: .5rem;
        min-width: 80vw;
        width: auto;
        max-width: 90vw;
        overflow-x: scroll;
        overflow-y: hidden;
        li{

            min-width: 12vw;
            width: auto;
            max-width: 12.5vw;
            height: auto;
            min-height: 10vh;
            padding: .05%;
            
            /* background: rgba(255, 255, 255, 0.33); */
    
        
        }
    
    }
    .hourly img{
        width:auto;
        height: 8vh;
        margin: auto;
        padding: none;
        object-fit: contain;
    }
    .hourly h3{
        opacity: 80%;
        margin-top: 0px;
    }
    .hourly p{
        margin-top: 0px;
    }
    .hourPeak {

        margin-right: 3% ;
       /* Increase the padding */
        /* border-radius: 0.5rem; */
        /* background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: larger;  */
        
        margin-top: 0px;
        align-items: center; /* Center the items vertically */
       h3,p{
        
            font-size: medium;
            max-height: 1vh;
       }
    
    
    }
    
        
    /*
        search bar
    */
    
    
    .autosuggest-container {
        top: 20px; /* Adjust top position as needed */
        right: 20px; /* Adjust right position as needed */
        height: 3vh;
        
        
        
        
    }
    .searchIcon {
        margin-left: 10px;
    }
    
    .autosuggest-container .react-autosuggest__suggestions-container {
        position: absolute;
        top: calc(100% + 5px);
        right: 0;
        width: 300px; /* Adjust width as needed */
        
    }
    
    .autosuggest-container .react-autosuggest__suggestions-list {
        max-height: 300px; /* Adjust max height as needed */
        
        
    }
    
    .autosuggest-container .react-autosuggest__suggestion {
        padding: 10px;
        
    }
    
 
    .forecastCont{
        max-width: 90vw;
        min-height: 80vh;
        max-height: 95vh;
        height: auto;
        top: 5%;
        left:5vw !important;
       
    }
  
    
    /* next few days */
    .day-forecast-container {
        position: relative;
        z-index: -1;
        top: 38vh;
        width: 90vw;
        height: 55vh;
        overflow-y: scroll;
        bottom: -1px;
    
    }
    .day-forecast {
        flex-direction: row;
        float: left;
        padding:1% 5%;
        /* background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        width: 70vw;
        white-space: nowrap !important; 
        height: 10vh;
        object-fit: contain;
        margin:auto;
    }
    
    .day-forecast img {
        width: 35%;
        height: auto;
        max-height: 12vh;
        margin-top: -10px !important;
    
        float:left; 
    }
    
    .day-forecast h3 {
        margin-top: 0px;
        font-size: medium;
    }
    
    .day-forecast p {
        margin-top: 0px;
    }
}
/* global styling */
::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: black !important;
}
::-webkit-scrollbar {
    max-width: 3vw;
    max-height: 6vh;
  }
.searchBar{
    border-radius: 2rem;
    float:right; 
    white-space: nowrap;
    flex-direction: row;
    height: 3vh;
}
.cityBar input {
    border-radius: 2rem;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9;
    height: 3vh;
    width: 3vw;


}
.todayIcon{
    max-width: 15vw;
    height: auto;
}
.searchBar ul{
    height: 3vh;
    overflow-y: scroll;
    font-size: medium;
}
.cityBar{
    float:right;
    flex-direction: row;
    height: 3vh;
    width: 3vw;
    
}
.searchIcon img{
    object-fit: contain;
}
.currWeather{
    font-size: larger;
    font-family: "Oxygen", sans-serif;
    position: fixed;
    top: 0;
/* From https://css.glass */
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    border: 1px solid rgba(255, 255, 255, 0.39);
    margin: auto;
    
    padding: 1%;
}

.conds{
    margin: auto;
    text-align: center;
}


.hourly{
    float:left;
    list-style: none;
    /* overflow-x:scroll;  */
    flex-direction: row;
    margin: auto;
    
    position: absolute;
    /* padding-top: 50px; */
    padding:1%;
    
    border-radius: .5rem;
    white-space: nowrap;
    
    
    z-index: 99;
    text-align: center;
    li{
        position: relative;
        display: inline-block !important;

        padding: .05%;
        text-align: center;
        /* background: rgba(255, 255, 255, 0.33); */

    
    }

}
.hourly img{
    margin: auto;
    padding: none;
}
.hourly h3{
    opacity: 80%;
    margin-top: 0px;
}
.hourly p{
    margin-top: 0px;
}
.hourly-container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    width: 100%; /* Ensure the container spans the full width */
}
.hourPeak {
    float: right;
    text-align: center;
    font-size: medium !important;
    margin-right: 3% ;
   /* Increase the padding */
    /* border-radius: 0.5rem; */
    /* background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: larger;  */
    
    margin-top: 0px;
    align-items: center; /* Center the items vertically */
   h3,p{
    
        font-size: medium;
        max-height: 1vh;
   }


}

    
/*
    search bar
*/


.autosuggest-container {
    top: 2vh; /* Adjust top position as needed */
    right: 100px; /* Adjust right position as needed */
    display: flex;
    height: 3vh;
    position: absolute;
    
    
}
.autosuggest-container input{
    background: rgba(255, 255, 255, 0.57);
    border-radius: .5em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(255, 255, 255, 1);
    padding:1%;
}
.searchIcon {
    margin-left: 10px;
}

.autosuggest-container .react-autosuggest__suggestions-container {
    position: absolute;
    top: calc(100% + 5px);
    right: 38px;
    width: auto;
    width: calc(65px + 10vw + 10vh);
    max-width: calc(150px + 20vw);

    background-color: #fff;
    z-index: 999;
    border-radius: .5rem;
    border: .5px solid #878787;
}


.autosuggest-container .react-autosuggest__suggestions-list {
    min-width: calc (200px + 15vw);
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: calc(100px + 10vh); /* Adjust max height as needed */
    overflow-y: scroll !important;
    overflow-x: hidden; /* sizing should not require a horizontal scroll*/
    li > div{
        white-space: nowrap;
        max-height: 5vh;
        height: auto;
        display: inline-flex;
    }
}
.react-autosuggest__suggestions-list p,.react-autosuggest__suggestions-list h3{
    padding: 1%;
    margin: auto; 
} 
.react-autosuggest__suggestions-list::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    /* background-color: black !important; */
}
.react-autosuggest__suggestions-list::-webkit-scrollbar {
    max-width: 3vw;
    max-height: 4vh;
  }

.autosuggest-container .react-autosuggest__suggestion {
    padding: 10px;
    cursor: pointer;
}

.autosuggest-container .react-autosuggest__suggestion:hover {
    background-color: #f0f0f0;
    
}

.forecastCont{
    max-width: 80vw;
    margin:auto;
    position: absolute;
    text-align: center;
    min-height: 70vh;
    max-height: 90vh;
    height: fit-content;
    top: 1.5%;
    left:25%;
}
.forecast{
    
    max-height: 80vh;
    
}

/* next few days */
.day-forecast-container {
    position: relative;
   
    justify-content: center;
    align-items: center;
    margin: auto;
    
    width: 100%;
  


}
/* START on updating css to match figma - I will come back to this by the end of the day*/
.day-forecast {
    border-radius: 0.5rem;
    padding:1% 5%;
    /* background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-align: center;
    font-size: large;
   
    
    margin:auto;
}

.day-forecast img {
    object-fit: contain;
   
}

.day-forecast h3 {
    position: relative;
    text-align: left;
    margin-top: 0px;
}

.day-forecast p {
    margin-top: 0px;
}


/* recent locations container */
.recent-locations-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
}

.recent-location-button {
    margin: 0 5px;
    padding: 10px;
}


.container {
    margin-top: 100px;
}

.forecastCont {
    margin-top: 50px; 
}


.custom-input {
    width: 200px; 
    height: 3vh;
    font-size: 16px; 
    
}
